/* MainLayout.css */
html, body {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This makes sure the main content area takes up available space */
  padding: 20px; /* Optional: Adjust padding to your preference */
  padding-bottom: 50px;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
}
